
#btn{
    font-weight: 600;
    border: none;
    width: 90%;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem 0;
}